/* 

MODERNO by Jared Burns of http://www.pixallent.com
A contemporary, versatile theme for Shopify

*/

/* @group Globals */

html, body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

div#container {
	text-align: left;
	width: 960px;
	margin: 0 auto;
	border-top: 20px solid #000;
}

div#container, div#header, div#index, div#collection, div#descriptions, div#product, div#product-select, div#navigate-collection, div#cart, div.cart-row, div.updater, div#checkout, div#blog, div#page {
	display: inline-block;
}

div#container, div#header, div#index, div#collection, div#descriptions, div#product, div#product-select, div#navigate-collection, div#cart, div.cart-row, div.updater, div#checkout, div#blog, div#page {
	display: block;
}

div#container:after, div#header:after, div#index:after, div#collection:after, div#descriptions:after, div#product:after, div#product-select:after, div#navigate-collection:after, div#cart:after, div.cart-row:after, div.updater:after, div#checkout:after, div#blog:after, div#page:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* @end */

/* @group Header */

div#header h1 a {
	color: #db0a0a;
	font-size: 187.5%;
	font-weight: bold;
	text-decoration: none;
	padding: 40px 75px 12px 0;
	float: left;
}

div#header h1 a:hover {
	color: #000;
}

div#nav {
	font-size: 75%;
	float: right;
}

div#nav li {
	display: inline;
}

div#nav a {
	color: #000;
	text-decoration: none;
	padding: 55px 15px 12px;
	float: left;
	display: block;
}

div#nav a:hover {
	text-decoration: underline;
}

div#nav li#end a, div#nav a#end {
	padding-right: 0;
}

div#nav a.cart {
	margin-left: 15px;
}

div#nav a.active, div#nav a.active:hover, div#nav li#end a.active, div#nav li#end a.active:hover {
	color: #db0a0a;
	text-decoration: underline;
	padding-right: 15px;
}

/* @end */

/* @group Index */

div#index-left {
	width: 320px;
	padding-top: 40px;
	float: left;
}

div#index-left h3 {
	font-size: 162.5%;
	padding: 15px 0 16px;
}

div#index-left a {
	color: #db0a0a;
	text-decoration: underline;
	margin-left: -4px;
	padding: 1px 4px;
}

div#index-left a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

div#index-left p {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 20px;
}

div#featured ul {
	padding-bottom: 20px;
}

div#featured li {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 5px;
}

div#featured li span.category {
	color: #000;
	font-size: 91.65%;
	line-height: 1.52em;
	background-color: #fef6b0;
	margin-right: 2px;
	padding: 2px 3px;
}

div#featured li a {
	color: #000;
	text-decoration: none;
}

div#featured li a span.price {
	color: #db0a0a;
}

div#featured li a:hover span.price {
	color: #fff;
}

div#index-right {
	width: 600px;
	padding-top: 10px;
	position: relative;
	float: right;
}

div#index-right h5 {
	color: #000;
	font-size: 112.5%;
	background-color: #fef6b0;
	margin-top: 130px;
	padding: 8px 120px 8px 12px;
	position: absolute;
	right: 0;
	z-index: 1;
}

div#index-right img {
	position: relative;
	float: left;
	z-index: 0;
}

/* @end */

/* @group Collection */

div#collection-left {
	width: 500px;
	margin-top: 50px;
	padding-top: 20px;
	float: left;
	border-top: 2px solid #000;
}

div#collection-left h3 {
	font-size: 87.5%;
}

div#collection .left {
	padding-right: 20px;
}

div.collection-image {
	color: #fff;
	width: 240px;
	padding-bottom: 20px;
	float: left;
}

div.collection-image h6 {
	font-size: 68.75%;
	padding: 8px 0 0 8px;
	position: relative;
	z-index: 1;
}

div.collection-image img {
	position: relative;
	margin-top: -19px;
	z-index: 0;
}

div#collection-right {
	width: 440px;
	margin-top: 50px;
	padding-top: 18px;
	float: right;
	border-top: 2px solid #000;
}

div#collection-right h3 {
	font-size: 137.5%;
	padding-bottom: 15px;
}

div#collection-right p {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 25px;
}

div#collection-desc p a {
	color: #db0a0a;
	text-decoration: underline;
	margin-left: -4px;
	padding: 1px 4px;
}

div#collection-desc p a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

div#collection-right ul {
	padding-bottom: 30px;
}

div#collection-right li {
	font-size: 68.75%;
	padding-bottom: 6px;
}

div#collection-right li a {
	color: #000;
	text-decoration: none;
	background-color: #dfdfdf;
	padding: 3px 20px;
	display: block;
}

div#collection-right li a:hover, div#collection-right li a.active, div#collection-right li a.active:hover {
	color: #fff;
	background-color: #db0a0a;
}

div.desc {
	width: 210px;
	padding-bottom: 17px;
	float: left;
}

div#collection-right div.desc p {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 3px;
}

div#collection-right div.desc p a {
	color: #000;
	line-height: 1.42em;
	text-decoration: none;
	display: block;
}

div#collection-right div.desc p a:hover {
	text-decoration: underline;
}

div.desc p.desc-price {
	color: #db0a0a;
	font-weight: bold;
}

div.desc p.desc-price del {
	color: #999;
	font-weight: normal;
	text-decoration: line-through;
	margin-left: 3px;
}

div.desc span {
	font-weight: bold;
	padding-right: 3px;
}

div#paginate {
	color: #000;
	font-size: 75%;
	padding-top: 15px;
}

div#paginate a {
	color: #db0a0a;
	text-decoration: underline;
	margin-right: 3px;
}

div#paginate a:hover {
	color: #000;
}

div#paginate span.current {
	font-weight: bold;
	margin-right: 3px;
}

/* @end */

/* @group Product */

div#product-left {
	width: 440px;
	margin-top: 70px;
	float: left;
}

div#product-left h2 {
	font-size: 137.5%;
	padding-bottom: 15px;
}

div#product-left h2 span {
	color: #db0a0a;
	font-size: 63.65%;
	padding-left: 3px;
}

div#product-left p {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 25px;
}

div#product-left p a {
	color: #db0a0a;
	text-decoration: underline;
	margin-left: -4px;
	padding: 1px 4px;
}

div#product-left p a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

div#product-select {
	padding-bottom: 50px;
}

div#product-select select {
	margin-right: 5px;
}

div#product-variants {
	padding-bottom: 25px;
}

div#product-variants span {
	color: #db0a0a;
	font-size: 68.75%;
}

div#product-variants a {
	color: #db0a0a;
	text-decoration: underline;
	margin: 0 -4px;
	padding: 1px 4px;
}

div#product-variants a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

div#product-left a#addit {
	color: #fff;
	font: bold 75% Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #db0a0a;
	padding: 6px 10px 4px 240px;
	display: block;
	float: left;
}

div#product-left input#add-cart {
	color: #fff;
	font: bold 75% Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #db0a0a;
	margin: 0;
	padding: 6px 10px 4px 240px;
	cursor: pointer;
	border: none;
	float: left;
}

div#product-left a#addit:hover, div#product-left input#add-cart:hover {
	color: #fff;
	background-color: #000;
}

div#product-left input#add {
	margin: 3px 0 0 8px;
	float: left;
}

div#navigate-collection li {
	display: inline;
}

div#navigate-collection li span {
	font-size: 68.75%;
	padding: 2px 8px;
	float: left;
}

div#navigate-collection li a {
	color: #000;
	font-size: 75%;
	text-decoration: underline;
	margin: 0 -4px;
	padding: 2px 4px 1px;
	float: left;
}

div#navigate-collection li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #000;
}

div#product-right {
	width: 480px;
	padding-top: 25px;
	float: right;
}

div#thumbs {
	text-align: center;
	height: 15px;
	margin-top: 20px;
	float: right;
}

div#thumbs a {
	background-color: #e1e1e1;
	width: 15px;
	height: 0;
	margin-left: 8px;
	padding-top: 15px;
	display: block;
	overflow: hidden;
	float: left;
}

div#thumbs a.show {
	background-color: #c0c0c0;
}

div#thumbs a:hover {
	background-color: #000;
}

/* @end */

/* @group Slimbox */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	border: 10px solid #fff;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0% 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-size: 10px;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	color: #000;
	font: bold 11px Arial, Helvetica, sans-serif;
	line-height: 1.72em;
}

/* @end */

/* @group Shopping Cart */

div#cart {
	padding-top: 50px;
}

div#cart h1 a {
	color: #000;
	font-size: 812.5%;
	text-decoration: none;
	margin-left: -12px;
	padding: 3px 10px;
}

div#cart h1 a span {
	color: #db0a0a;
}

div#cart h1 a:hover {
	color: #fff;
	background-color: #000;
}

.cart-img {
	width: 240px;
	padding: 20px 0;
	float: left;
	border-top: 2px solid #000;
}

div.cart-desc {
	width: 700px;
	padding: 20px 0;
	float: right;
	border-top: 2px solid #000;
}

div.cart-desc h3 {
	font-size: 112.5%;
	padding-bottom: 15px;
}

div.cart-desc h3 span {
	color: #db0a0a;
	font-size: 77.75%;
	padding-left: 3px;
}

div.cart-desc h3 a {
	color: #000;
	text-decoration: none;
}

div.cart-desc h3 a:hover {
	text-decoration: underline;
}

div.cart-desc p {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 20px;
}

div.updater {
	padding-bottom: 20px;
}

div.updater select {
	margin: 0 5px 0 0;
}

div.updater input.field {
	font-size: 11px;
	width: 50px;
	margin: 0 5px 0 0;
	padding: 2px;
}

div.updater span {
	color: #999;
	font-size: 68.75%;
	padding: 0 1px 0;
}

div.updater a {
	color: #db0a0a;
	font-size: 75%;
	text-decoration: underline;
	margin: 0 -4px;
	padding: 1px 4px;
}

div.updater input#update-cart {
	color: #db0a0a;
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	background-color: #fff;
	margin: 0 -4px;
	padding: 1px 4px;
	cursor: pointer;
	border: none;
}

div.updater a:hover, div.updater input#update-cart:hover {
	color: #fff;
	text-decoration: none;
	background-color:#db0a0a;
}

div.cart-desc h6 {
	font-size: 75%;
}

div.cart-desc h6 span {
	padding-left: 3px;
}

div#checkout {
	background-color: #db0a0a;
}

div#checkout h4 {
	font-size: 112.5%;
	background-color: #fff;
	padding: 2px 10px 2px 0;
	float: left;
}

div#checkout h4 span {
	color: #db0a0a;
}

div#checkout input#getout {
	color: #fff;
	font: bold 75% Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #db0a0a;
	margin: 0;
	padding: 7px 10px 4px 50px;
	cursor: pointer;
	border: none;
	float: right;
}

div#checkout input#getout:hover {
	text-decoration: underline;
}

/* @end */

/* @group Blogs & Pages */

div#sidebar {
	width: 240px;
	margin-top: 50px;
	float: left;
}

div#sidebar ul#blog-list {
	padding-bottom: 25px;
	border-top: 1px solid #b8b8b8;
}

div#sidebar ul#blog-list li a {
	color: #db0a0a;
	font-size: 75%;
	line-height: 1.52em;
	text-decoration: none;
	padding: 8px 10px;
	display: block;
	border-bottom: 1px solid #b8b8b8;
}

div#sidebar ul#blog-list li a:hover {
	background-color: #f5f5f5;
}

div#content {
	width: 700px;
	margin-top: 50px;
	float: right;
}

div#page, div#blog div#content {
	margin-top: 43px;
}

div#page h1, div#content h1 {
	font-size: 225%;
	padding-bottom: 15px;
}

div#content p, div#page p {
	font-size: 75%;
	line-height: 1.52em;
	padding-bottom: 18px;
}

div#content p.details {
	font-weight: bold;
	text-align: right;
	background-color: #dfdfdf;
	margin-top: 10px;
	padding: 8px 15px;
}

div#content p a, div#page p a {
	color: #db0a0a;
	text-decoration: underline;
	margin: 0 -2px;
	padding: 1px 2px;
}

div#content p a:hover, div#page p a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

div#content ul, div#content ol, div#page ul, div#page ol, div#excerpt ul, div#excerpt ol {
	padding: 5px 0 20px;
}

div#content li, div#page li, div#excerpt li {
	font-size: 75%;
	line-height: 1.52em;
	margin-left: 40px;
	padding: 2px 0;
	list-style-position: outside;
}

div#content ul li, div#page ul li, div#excerpt ul li {
	list-style-type: square;
}

div#content ol li, div#page ol li, div#excerpt ol li {
	list-style-type: decimal;
}

/* @end */

/* @group Shopify Overrides */

/* Collections Listing */

div#list-collections {
	padding-top: 50px;
}

div#collections-listing h2 {
	font-size: 137.5%;
	padding-bottom: 10px;
}

div#collections-listing ul {
	padding: 5px 0 15px !important;
}

div#collections-listing li {
	margin: 0 !important;
	padding: 5px 0 !important;
	list-style-type: none;
	list-style-position: outside;
}

div#collections-listing li a {
	color: #db0a0a;
	text-decoration: underline;
	margin: 0 -4px;
	padding: 1px 4px;
}

div#collections-listing li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

small.hint {
	font-size: 68.75%;
}

/* Search Results */

div#search {
	padding-top: 50px;
}

div#searchresults {
	margin: 0 !important;
	padding-top: 5px;
}

div#searchresults input#q {
	color: #000;
	font-size: 12px;
	width: 200px;
	margin: 0 5px 15px 0;
}

div#searchresults p {
	font-size: 75%;
}

div#searchresults h3, div#searchresults h3 a {
	color: #000;
	font-size: 112.5%;
	text-decoration: none;
	margin: 23px 0 3px !important;
	font-weight: bold;
}

div#searchresults h3 a:hover {
	text-decoration: underline;
}

strong.highlight {
	color: #fff;
	background-color: #db0a0a;
	padding: 1px 4px;
}

div.result-image img {
	display: none;
}

div#searchresults ol {
	padding-top: 10px;
}

div#searchresults li {
	margin: 0 0 25px !important;
	border-top: 1px solid #d2d2d2;
	list-style-position: inside;
}

div#searchresults li span {
	font-size: 75%;
	line-height: 1.52em;
}

div#search .page a, div#search .prev a, div#search .next a {
	color: #db0a0a;
	text-decoration: underline;
	margin-right: 5px;
}

div#search .page a:hover, div#search .prev a:hover, div#search .next a:hover {
	color: #000;
}

div#search .current {
	font-weight: bold;
	margin-right: 5px;
}

/* @end */

/* @group Footer */

div#footer {
	min-width: 960px;
	margin-top: 60px;
	padding: 25px 0 90px;
	border-top: 3px solid #000;
}

div#footer p {
	color: #999;
	font-size: 68.75%;
	line-height: 1.52em;
	float: left;
}

div#footer p#right-foot {
	float: right;
}

div#footer p#left-foot a {
	color: #db0a0a;
	text-decoration: underline;
	margin: 0 20px 0 -4px;
	padding: 2px 4px;
}

div#footer p#left-foot a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #db0a0a;
}

div#footer p#right-foot a {
	color: #999;
	text-decoration: none;
	padding: 2px 0;
}

div#footer p#right-foot a:hover {
	color: #fff;
	background-color: #999;
}

/* @end */

/* End of Stylesheet */