{% paginate blog.articles by 20 %}
  {% for article in blog.articles  %}

  <div class="story">
		<h2>{{ article.title }}</h2>
		<div class="meta">{{ article.created_at | date: "%b %d" }}</div>
		<p class="textile">{{ article.content }}</p>
  </div>
  
  {% endfor %}

<div id="pagination">
  {{ paginate | default_pagination }}
</div>

{% endpaginate %}
