<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="e-commerce, shopping cart, shopping, ruby on rails, rails, shoppingcart, content management, selling goods, jaded pixel, software development" />
    <meta name="description" content="Jaded Pixel is a small Web 2.0 software company that is focused simplifying the complex world of e-commerce." />

    <link rel="stylesheet" href="stylesheets/vision.css" type="text/css" media="screen" />				
    <title>Vision - Version Update</title>
    <script src="http://shopify.com/mint/?js" type="text/javascript"></script>
    
    <script src="http://shopify.com/mint/?js" type="text/javascript"></script>
		
  </head>

<body style="background-image:none;">

  <div id="container">
    <div id="highlight" class="round clear" style="margin: 50px;">
      <div id="hleft" class="clearfix">
        <h2 class="tagline">You need to update.</h2>
        <h3 class="stdout">4.0.1:</h3>      
        <ul class="changes">        
          <li>Fixed bug in Windows for json encoder that prevented Vision from starting.</li>
        </ul>
        
        <h3 class="stdout">4.0.0:</h3>      
        <ul class="changes">        
          <li>Now supports themes with jQuery &amp; Mootools libraries (previously prototype only).</li>
          <li>Support for products with multiple options.</li>
          <li>Updated all the themes and added a couple new ones.</li>
          <li>Support for api.js, asynchronous adding of products, editing or requesting the cart.</li>
          <li>Updated Liquid to latest version</li>
          <li>Updated Database with correct handles for blogs &amp; pages as well as new products with product images of different aspect ratios than snowboards.</li>
          <li>Several bug fixes.</li>
        </ul>
        <h3 class="stdout">3.3.0:</h3>      
        <ul class="changes">        
          <li>Fixed a problem with exporting themes when vision is installed in a path with spaces.</li>
        </ul>
        <h3 class="stdout">3.1.0:</h3>      
        <ul class="changes">        
          <li>Added new theme ripen...</li>
        </ul>
        <h3 class="stdout">3.0.0:</h3>      
        <ul class="changes">        
          <li>Spectrum updates...</li>
        </ul>
        <h3 class="stdout">2.9.0:</h3>      
        <ul class="changes">        
          <li>Internet Explorer 7 fixes.<li>
        </ul>
        <h3 class="stdout">2.8.0:</h3>      
        <ul class="changes">        
          <li>Updated to the latest liquid: elsif, array notation and similar updates.</li>
          <li>Added paginate tag and applied it to all templates 
for blogs and collections.</li>
        </ul>
        <h3 class="stdout">2.5.0:</h3>      
        <ul class="changes">        
          <li>Improved the DB to be more like a real shopify DB.</li>
          <li>Updated all themes to adhere to new global_asset_url system. Common files are hosted globally in shopify so that they can be cached and customoer's load times improve.</li>
        </ul>
        <h3 class="stdout">2.3.1:</h3>      
        <ul class="changes">        
          <li>Fixed cart.item_count and cart.total_price which both ignored the carts quantity. This bug was only in vision and not in shopify.</li>
        </ul>
        <h3 class="stdout">2.3.0:</h3>      
        <ul class="changes">        
          <li>Added weight and weight_with_unit filters useable on variant.weight.</li>
        </ul>
        <h3 class="stdout">2.2.3:</h3>      
        <ul class="changes">        
          <li>Tweaks to the image switcher so that it works without prototype.</li>
        </ul>
        <h3 class="stdout">2.2.2:</h3>      
        <ul class="changes">        
          <li>Made sure that all themes support display of multiple images. Glacialis, spectrum, tangerine and tellus were upgraded.</li>
        </ul>
        <h3 class="stdout">2.2.1:</h3>      
        <ul class="changes">        
          <li>Added .collections to product.</li>
          <li>Fixed problems with creating theme exports under windows xp .</li>
        </ul>
        <h3 class="stdout">2.1.1:</h3>      
        <ul class="changes">        
          <li>Small tweaks for dropify and tangerine.</li>
          <li>Show a helpful search page when going to /search.</li>
        </ul>
        <h3 class="stdout">2.1.0:</h3>      
        <ul class="changes">        
          <li>Added a textile.css to all themes, include it and add the class <em>textile</em> everywhere formatted html appears. This is a new (soft) convention for shopify themes.</li>
        </ul>
        <h2 class="tagline">You need to update.</h2>
        <h3 class="stdout">2.0.0:</h3>      
        <ul class="changes">        
          <li>Included all the themes which won the shopify theme contest. Congrats guys!</li>
        </ul>
      </div>
      <div id="hright">

        <ul>
          <li id ="download">
            <h3><a href="files/<%= @file_zip %>">Download Vision <%= @version %> update</a></h3>
            <p>Download Vision and get rolling.  For those about to rock, we salute you.</p>
          </li>
        </ul>
      </div>
    </div>


    </div>
</body>
</html>

