/*-----------------------------------------------------------------------------------------------
  Global Styles
-----------------------------------------------------------------------------------------------*/

* {
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.hide{ display:none; }
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; height:1px; font-size:1px; line-height:1px; }
a img{ border:none; }

/*-----------------------------------------------------------------------------------------------
  Main Layout
-----------------------------------------------------------------------------------------------*/

body{
	font-family: Arial, Verdana, sans-serif;
	font-size:11px;
	color:#4C4C4C;
	background:url(body_back.jpg) 0 0 repeat-x #FFF;
	padding-top:6px;
}

#wrapper{
	width:723px;
	margin:0 auto;
	background:url(wrapper_back.jpg) 0 0 no-repeat;
}

#header, #content{
	width:640px;
	margin:0 auto;
}

#header{
	height:82px;
	border-bottom:1px solid #D9D9D9;
	position:relative;
}

#footer{
	margin:20px 0 0 0;
	background:url(footer_back.jpg) 0 0 repeat-x;
	height:155px;
}
#footer .inner{
	width:640px;
	padding:12px 0 0 0;
	margin:0 auto;
	text-align:right;
	font-size:11px; /* Conflicting Shopify classes */
}

/*-----------------------------------------------------------------------------------------------
  Header
-----------------------------------------------------------------------------------------------*/

h2#logo{
	font-size:28px;
	font-weight:normal;
	margin:0;
	position:absolute;
	top:23px;
}
h2#logo a{
	color:#C90000;
	text-decoration:none;
}
p.tagline{
	margin:0;
	position:absolute;
	top:50px;
}

ul#nav{
	margin:0;
	list-style-type:none;
	position:absolute;
	right:0;
}
ul#nav li{
	margin:0 0 0 25px;
	padding:7px 0 0 0;
	list-style-type:none;
	float:left;
	display:inline;
	background:transparent;
}
ul#nav li.active{
	background:url(nav_selector.gif) 50% 0 no-repeat;
}
ul#nav li a{
	font-weight:bold;
	text-decoration:none;
	color:#929292;
	text-transform:lowercase;
}
ul#nav li a:hover{
	color:#000;
}

.cart-status{
	position:absolute;
	top:58px;
	right:0;
	color:#7F7F7F;
	text-transform:lowercase;
	padding-right:22px;
	background:url(icon_cart.gif) 100% 50% no-repeat;
}

/*-----------------------------------------------------------------------------------------------
  Main Section
-----------------------------------------------------------------------------------------------*/

.main{
	width:465px;
	float:left;
	line-height:1.7;
}
.noside .main{
	width:640px;
}

.sidebar{
	width:145px;
	float:right;
}

.featured-products{
	width:650px;
	margin:10px auto;
}

/*-----------------------------------------------------------------------------------------------
  General Text & Stylings
-----------------------------------------------------------------------------------------------*/

a{
	color:#234D77;
	text-decoration:none;
	outline:none;
}
a:hover{
	color:#CC6600;
}

h2{
	font-size:12px;
	margin:20px 0 -8px 0;
	color:#000;
}

p{
	margin:12px 0;
}

ul{
	list-style-type:none;
	margin-left:0;
}
ul li{
	list-style-type:none;
	margin:3px 0 3px 0;
	padding-left:15px;
	background:url(bullet.gif) 0 4px no-repeat;
}

ul.section{
	border-top:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	padding:5px 0;
	margin:30px 0 20px 0;
}

ul.featured-products li{
	float:left;
	width:104px;
  height: 180px;
	padding:0 14px;
	margin:0 0 15px 40px;
	display:inline;
	background:url(pcasing_small.gif) 0 0 no-repeat #F2F2F2;
}
.main ul.featured-products li{
	margin-left:30px;
}
ul.products li.first{
	clear:left;
}
ul.products .image{
	padding:6px 0;
	height:100px;
	text-align:center;
}
ul.products h4{
	font-size:11px;
	margin:0;
}
ul.products h4 a{
	color:#CC6600;
}
ul.products .info{
	padding:10px 0;
}
ul.products .price{
	font-size:10px;
}
ul.collection{
	margin-top:30px;
}

.rule{
	margin:15px 0;
	height:1px;
	font-size:1px;
	line-height:1px;
	background:url(dotted.gif) 0 0 repeat-x;
}

.meta{
	margin:0.5em 0;
	font-size:10px;
	padding-bottom:5px;
	border-bottom:1px solid #DDD;
}

/*-----------------------------------------------------------------------------------------------
  Product page
-----------------------------------------------------------------------------------------------*/

.product{
	width:240px;
	padding:5px;
	margin:25px 15px 1em 0;
	float:left;
	text-align:center;
	border:1px solid #DDD;
}
.product .buy{
	text-align:left;
	background:#F1F1F1;
	padding:10px 10px 0 10px;
	margin:5px 0 0 0;
}
.product .buy p{
	margin:0;
	height:20px;
	line-height:20px;
}
.product .buy input.radio{
	vertical-align:middle;
	margin-right:5px;
}
.product .buy .price{
	color:#000;
	font-weight:bold;
}

.add-cart{
	border:none;
	background:transparent;
	margin:5px 0 0 -10px;
	padding:0;
	width:240px;
	height:22px;
}

.details{
	margin:5px 0;
	padding:0 10px;
	text-align:left;
}
.details dl{
	margin:0;
}
.details dl dt{
	margin:0;
	display:inline;
	font-weight:bold;
}
.details dl dd{
	margin:0; display:inline;
}

/*-----------------------------------------------------------------------------------------------
  Cart
-----------------------------------------------------------------------------------------------*/

table.cart{
	width:100%;
	border-spacing:2px;
	margin:30px 0 15px 0;
}
table.cart th, table.cart td{
	padding:2px 5px;
	vertical-align:middle;
}
table.cart th.short, table.cart td.short{
	text-align:center;
}
table.cart th{
	background:#F1F1F1;
	text-align:left;
}
table.cart tr.even td{
	background:#F1FFFF;
}

input.quantity{
	width:20px;
	font-size:11px;
}

p.updatebtn{
	float:left;
}
p.subtotal{
	text-align:right
}
p.checkout{
	clear:both;
	text-align:right;
}

/*-----------------------------------------------------------------------------------------------
  Footer
-----------------------------------------------------------------------------------------------*/

#search{
	width:250px;
	float:left;
	text-align:left;
}
#search button{
	width:48px;
	height:16px;
	text-indent:-9999px;
	background:url(btn_search.gif) 0 0 no-repeat;
	border:none;
	margin-left:5px;
	vertical-align:top;
	margin-top:2px;
}
#search input{
	width:150px;
}

ul#fnav{
	margin:0;
}
ul#fnav li{
	background:none;
	display:inline;
}
ul#fnav li a{
	color:#000;
}