<div id="articles">
{% for article in blog.articles  %}
<div class="article">
    <h2>{{ article.title }}</h2>
    <p> </p>
    <div class="article-body textile">
      {{ article.content }}
    </div>    
	<div class="article-info">posted {{ article.created_at | date: "%d %h" }} by {{ article.author }}
 </div>
{% endfor %}
</div>